{% extends "_layout" %}
{% set title = "Forgot Your Password" %}

{% block content %}
	<form class="form" method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="users/forgotPassword">

		<h3 class="first"><label for="loginName">Username or email</label></h3>
		<input id="loginName" class="text fulltext" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}">

		<div class="buttons">
			<input class="submit" type="submit" value="Submit">
		</div>
	</form>
{% endblock %}
