{% extends "_layout" %}
{% set title = "Login" %}

{% block content %}
	<h1>{{ title }}</h1>

	<form class="form" method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="users/login">
		<input type="hidden" name="redirect" value="{{ craft.session.returnUrl }}">

		<h3 class="first"><label for="loginName">Username or email</label></h3>
		<input id="loginName" class="text fulltext" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}">

		<h3><label for="password">Password</label></h3>
		<input id="password" class="text fulltext" type="password" name="password">

		<label class="checkbox">
            <input type="checkbox" name="rememberMe" value="1">
            Remember me
        </label>

		<div class="buttons">
			<input class="submit" type="submit" value="Login">
		</div>
	</form>

	<p><a href="{{ url('accounts/forgotpassword') }}">Forget your password?</a></p>
{% endblock %}
