{% extends "_layout" %}
{% set title = "Reset Your Password" %}

{% block content %}
	<form class="form" method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="redirect" value="">
		<input type="hidden" name="code" value="{{ code }}">
		<input type="hidden" name="id" value="{{ id }}">

		<h3><label for="newPassword">New Password</label></h3>
		<input id="newPassword" class="text fulltext" type="password" name="newPassword">

		<div class="buttons">
			<input class="btn submit" type="submit" value="Reset Password">
		</div>
	</form>
{% endblock %}
