/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: separate; border-spacing: 0; }
a { text-decoration: none; }
input, textarea { margin: 0; font-family: 'Lucida Grande', sans-serif; font-size: 100%; }
textarea { resize: none; }
select { margin: 0; }

body {
	font-family: HelveticaNeue, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	background: url(../images/bg.jpg) 50% 0;
}

a {
	color: #0096ff;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 1em 0;
}

/* header */
#header {
	display: block;
	padding: 50px;
	font-family: Futura-CondensedMedium;
	text-transform: uppercase;
	line-height: 30px;
	color: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.5);
}
#header:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#header a:hover { text-decoration: none; }
#header h1 { float: left; margin-right: 50px; }
#header h1 a { font-size: 30px; color: rgba(255,255,255,0.6); -webkit-transition: color linear 50ms; }
#header h1 a:hover { color: #fff; }

#header ul li a { border-bottom: 2px solid transparent; -webkit-transition: border-bottom-color linear 50ms; }
#header ul li a.sel,
#header ul li a:hover { border-bottom-color: #0096ff; }

#header nav { display: block; float: left; }
#header nav ul li { float: left; margin-right: 25px; }
#header nav ul li a.sel { cursor: default; }

#header #account { float: right; }
#header #account li { float: left; padding: 0 12px; }
#header #account li + li { border-left: 1px solid rgba(255,255,255,0.25); }

#header #loginForm { display: none; }
#header #loginForm .text { font-size: 13px; line-height: 18px; vertical-align: middle; }
#header #loginForm .submit { height: 24px; }


/* main */
#main { margin: 0 50px 50px; color: rgba(255,255,255,0.6); }

#main .flash { margin: 1em 0; padding: 5px 10px; }
#main .flash.notice { border: 1px solid #1F6794; color: #1F6794; }
#main .flash.error { border: 1px solid #992f2f; color: #992f2f; }

#main .intro { max-width: 700px; padding: 0 50px; margin: 0 auto; text-align: center; font-size: 18px; }

#main header { display: block; margin: 0 -50px 15px; padding: 50px; background-size: cover; background-position: 50% 50%; text-align: center; }
#main header h1 { display: inline-block; padding-bottom: 10px; border-bottom: 10px solid #fff; font-family: Futura-CondensedMedium; text-transform: uppercase; font-size: 100px; line-height: 1; color: #fff; text-shadow: 0 0 10px rgba(255,255,255,0.2); }

#main .pane { padding: 25px; background: rgba(0,0,0,0.5); }
#main .packery-container .pane { width: 30%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#main .form { margin: 1em 0; padding: 25px; background: #fbf6e7; }
#main label.checkbox { display: block; margin: 1em 0; }

#main ul.errors { color: #992f2f; font-size: 13px; }
#main ul.errors li { margin-top: 0.25em; }

#main h2 { margin-bottom: 1em; font-family: Futura-CondensedMedium; text-transform: uppercase; font-size: 24px; }
#main h3 { margin: 1em 0 0.1em; font-family: Futura-CondensedMedium; text-transform: uppercase; font-size: 24px; }

.first { margin-top: 0 !important; }

#main .photos h2 { margin-top: 0; }
#main .photos ul { margin-left: -12px; }
#main .photos ul li { float: left; margin: 0 0 12px 12px; }
#main .photos ul li img { display: block; }
#main .photos:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#main i, #main em { font-family: Futura-MediumItalic; }
#main ul.bullets { margin: 1em 0 1em 2em; list-style-type: square; }
