{#
 # This template is loaded whenever the URL matches a Blog section entry,
 # because the Blog section's "Entry Template" setting is set to "blog/_entry".
 #
 # Craft will pre-populate an 'entry' variable with the matched Blog entry
 # when loading this template.
 #
 # See: http://docs.buildwithcraft.com/reference/routing.html
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
	<div class="intro">
		<p>Written by {{ entry.author }} on {{ entry.postDate|date('M d, Y') }}</p>
	</div>

	<article class="pane">
		<p>{{ entry.body }}</p>
	</article>
{% endblock %}
