<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}On the Rocks</title>
	<meta name="description" content="{{ globals.metaDescription }}" />
	<meta name="viewport" content="width=1000" />
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="/resources/css/ontherocks.css" />
</head>

<body>
	<div id="header">
		{% if user %}
			<ul>
				<li>Welcome, {{ user.friendlyName }}!</li>
				<li><a href="{{ logoutUrl }}">Logout</a></li>
			</ul>
		{% else %}
			<ul>
				<li><a id="loginLink" href="{{ loginUrl }}">Login</a></li>
				<li><a href="{{ url('accounts/register') }}">Register</a></li>
			</ul>

			<ul id="loginForm">
				<li>
					<form method="post" action="{{ loginUrl }}" accept-charset="UTF-8">
						<input class="text" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}" placeholder="Username or email">
						<input class="text" type="password" name="password" placeholder="Password">
						<input class="submit" type="submit" value="Login">
					</form>
				</li>
				<li><a href="{{ url('accounts/forgotpassword') }}">Forget your password?</a></li>
			</ul>
		{% endif %}
	</div>

	<div id="sidebar">
		<h1><a href="{{ siteUrl }}">On the Rocks</a></h1>

		<nav>
			<ul>
				<li><a href="{{ url('cocktails') }}">{{ "Cocktails"|t }}</a></li>
				<li><a href="{{ url('ingredients') }}">Ingredients</a></li>
				<li><a href="{{ url('blog') }}">Blog</a></li>
			</ul>
		</nav>
	</div>

	<div id="main">
		{% for type, message in craft.session.flashes %}
			<div class="flash {{ type }}">{{ message }}</div>
		{% endfor %}

		{{ content }}
	</div>

	<script type="text/javascript" src="/resources/lib/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/ontherocks.js"></script>
</body>
</html>
