{% extends "_layout" %}

{% set content %}
	<h1>{{ page.heading }}</h1>
	{{ page.siteintro }}

	{% for year in now.year .. 2010 %}
		{% set total = craft.entries.after(year).before(year+1).total %}
		{% if total %}
	        <li> <a href="{{ url('archive/'~year) }}">{{ year }}</a> ({{ total }} entries)</li>
	    {% endif %}
	{% endfor %}

	{# macro yearArchiveLink(year) %}
	    {% set total = craft.entries.after(year).before(year+1).total %}
	    {% if total > 0 %}
	        <li> <a href="{{ url('archive/'~year) }}">{{ year }} ({{ total }})</a></li>
	        {{ _self.yearArchiveLink(year-1) }}
	    {% endif %}
	{% endmacro %}

	{% import _self as macros %}

	{{ macros.yearArchiveLink(now.year) #}

	{% for item in craft.feeds.getFeedItems('http://cognition.happycog.com/site/empire_feed', 0, 10) %}
		<li><a href="{{ item.permalink }}">{{ item.title }}</a><br>by {{ item.authors[0].name }} on {{ item.date }}<br><br>

			{{ item.content }}</li>
	{% endfor %}
{% endset %}
